body {
    background-color: #f5f5dd;
}
.example1 {
    width: 120px;
    height: 120px;
    background-color: black;
    margin: auto;
}
.example2 {
    width: 120px;
    height: 120px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
}
.example3 {
    width: 120px;
    height: 120px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}
.example4 {
    width: 120px;
    height: 120px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
}